@{
    ViewBag.Title = "About us: Aegis Solutions, Kolkata, West Bengal, India| Scanner And Printer On Rent In Kolkata, India| MSME Registered Organization| Office Imaging Solution| Managed Service| High volume document digitization & indexing,record & document management, ICR & OMR processing and Managed Printing Service, copier MFD on rent service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page title -->
<div class="page-title parallax-style parallax1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    @*<h2>About us</h2>*@
                </div>
                <!-- /.page-title-heading -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-title -->

<div class="page-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="flat-wrapper">
                <div class="breadcrumbs">
                    <h2 class="trail-browse">You are here:</h2>
                    <ul class="trail-items">
                        <li class="trail-item"><a href='@Url.Action("Index", "Home")'>Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
                <!-- /.breadcrumbs -->
            </div>
            <!-- /.flat-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-breadcrumbs -->

<div class="flat-row flat-general sidebar-right pad-bottom75px">
    <div class="container">
        <div class="row">
            <div class="general">
                <h3 class="flat-title-section style mag-top10px">Company <span>overview</span></h3>
                <p>
                    Aegis Solutions is a leading end to end solution provider in Office Imaging Solution. Our managed service offerings are in high volume document digitization & indexing,record & document management, ICR & OMR processing and Managed Printing Service, copier MFD on rent service.
                    We have a dedicated software team serve in the area of DMS, ERP, Form Processing solution, Print Audit solution and which is fully customized manner.
                    If you are looking for a hardware solution for your office automation product our dedicated sales consultant will give you the solution as per your organization need and of course which should be a “value for money” solution for you.
                </p>
                <p>How do we serve you!</p>
                <p>Our Sales Consultant will examine how your documents are created, distributed, stored, presented, retrieved, communicated and destroyed.</p>
                <p>We then evaluate all of the costs associated with your office equipment, including copiers, scanner and printers; all at no cost and no obligation.</p>
                <p>After our analysis is complete, we develop a solution to increase productivity, reduce costs and streamline administrative processes.</p>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.blog -->
</div>
