@{
    ViewBag.Title = "Certificates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title parallax-style parallax1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    @*<h2>About us</h2>*@
                </div>
                <!-- /.page-title-heading -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>

<div class="page-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="flat-wrapper">
                <div class="breadcrumbs">
                    <h2 class="trail-browse">You are here:</h2>
                    <ul class="trail-items">
                        <li class="trail-item"><a href='@Url.Action("Index", "Home")'>Home</a></li>
                        <li>Certificates</li>
                    </ul>
                </div>
                <!-- /.breadcrumbs -->
            </div>
            <!-- /.flat-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-breadcrumbs -->

<div class="flat-row flat-general sidebar-right pad-bottom75px">
    <div class="container">
        <div class="row">
            <div class="flat-wrapper">
                <div class="flat-imagebox clearfix">
                    <div class="flat-item item-three-column">
                        <div class="imagebox">
                            <div class="box-wrapper">
                                <div class="box-image" style="text-align:center;">
                                    <a href="~/Contents/images/canon-certificate-aegis-solutions.webp">
                                        <img src="~/Contents/images/canon-certificate-aegis-solutions.webp" alt="canon-certificate-aegis-solutions" style="height:50vh;">
                                    </a>
                                </div>
                                <h5 class="box-title" style="text-align:center;">
                                    <a href="#">Canon Certificate</a>
                                </h5>
                                We are the Premium Partner of Canon, certified to Stock, Sell & Services for Copier MFD, Document Scanners and Document Software Solutions.
                            </div>
                        </div>
                        <!-- /.imagebox -->
                    </div>
                    <!-- /.item-three-column -->

                    <div class="flat-item item-three-column">
                        <div class="imagebox">
                            <div class="box-wrapper">
                                <div class="box-image" style="text-align:center;">
                                    <a href="~/Contents/images/ISO9001-2015-certificate-aegis-solutions.webp">
                                        <img src="~/Contents/images/ISO9001-2015-certificate-aegis-solutions.webp" alt="ISO9001-2015-certificate-aegis-solutions" style="height:50vh;">
                                    </a>
                                </div>
                                <h5 class="box-title" style="text-align:center;">
                                    <a href="#">ISO 9001:2015</a>
                                </h5>
                                We are a ISO 9001:2015 certified organisation for the scope of Providing Services of Document Digitization and Document Management Solutions. IT and ITeS Sales and Services like Copier-Printer-Scanner and Managed Print Services.
                            </div>
                        </div>
                        <!-- /.imagebox -->
                    </div>
                    <!-- /.item-three-column -->

                    <div class="flat-item item-three-column">
                        <div class="imagebox">
                            <div class="box-wrapper">
                                <div class="box-image" style="text-align:center;">
                                    <a href="~/Contents/images/ISO27001-2013-certificate-aegis-solutions.webp">
                                        <img src="~/Contents/images/ISO27001-2013-certificate-aegis-solutions.webp" alt="ISO27001-2013-certificate-aegis-solutions" style="height:50vh;">
                                    </a>
                                </div>
                                <h5 class="box-title" style="text-align:center;">
                                    <a href="#">ISO 27001:2013</a>
                                </h5>
                                We are a ISO 27001:2015 certified organization for Document Digitization of Medical Records, Legal and Accounts records, Document Management Solutions software, CRM Software and Other Software, Asset Management System, Information Security and Incident Management System, Operational Security Management Services.
                            </div>
                        </div>
                        <!-- /.imagebox -->
                    </div>
                    <!-- /.item-three-column -->
                </div>
                <!-- /.flat-imagebox -->
            </div>
            <!-- /.flat-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>