@{
    ViewBag.Title = "Document Management Software: Aegis Solutions, Kolkata, West Bengal, India| MSME Registered Organization| Office Imaging Solution| Managed Service| Dedicated software team serve in the area of DMS, ERP, Form Processing solution, Print Audit solution and which is fully customized manner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page title -->
<div class="page-title parallax-style parallax1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    @*<h2>DMS with workflow</h2>*@
                </div>
                <!-- /.page-title-heading -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-title -->

<div class="page-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="flat-wrapper">
                <div class="breadcrumbs">
                    <h2 class="trail-browse">You are here:</h2>
                    <ul class="trail-items">
                        <li class="trail-item"><a href='@Url.Action("Index", "Home")'>Home</a></li>
                        <li>DMS with workflow</li>
                    </ul>
                </div>
                <!-- /.breadcrumbs -->
            </div>
            <!-- /.flat-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-breadcrumbs -->

<div class="flat-row flat-general sidebar-right pad-bottom20px">
    <div class="container">
        <div class="row">
            <div class="general">
                <p>
                    Aegis Solutions introduced Aegis-Doc. Aegis-Doc is best in the market and top in its class. Certain customization facility is also available for certain number of customers. Please <a href="/contact-us" target="_blank"> contact us </a> for more details.
                </p>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.blog -->
</div>

<div class="flat-row flat-general sidebar-right pad-bottom20px">
    <div class="container">
        <div class="row">
            <div class="general">
                <h3 class="flat-title-section style mag-top10px">Searching and Indexing <span>Capability</span></h3>
                <p>
                    Aegis-Doc is a smart Document Management System has the ability to store Meta data like document created date, keywords, description, owner, creator,
                    last modified by, file to which it belongs etc, of each and every document. A powerful search engine is available in the application which can search
                    the entire repository in a very efficient manner using the Mata data.
                </p>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.blog -->
</div>

<div class="flat-row flat-general sidebar-right pad-bottom20px">
    <div class="container">
        <div class="row">
            <div class="general">
                <h3 class="flat-title-section style mag-top10px">Document <span>creation, review and approval</span></h3>
                <p>
                    Version control is one of the significant features of the Document Management System. Once a document is created it gets tagged with aversion
                    and if any modifications or editing of the document is done the document is saved with a new version number keeping the original document intact.
                    There by no document is lost and when needed previous version could be reverted back. In our Document Management System there is no concept like
                    deleting a document, but a document could be freezeed by which the access to the document will be removed.
                </p>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.blog -->
</div>

<div class="flat-row flat-general sidebar-right pad-bottom20px">
    <div class="container">
        <div class="row">
            <div class="general">
                <h3 class="flat-title-section style mag-top10px">Alerts and <span>Notifications</span></h3>
                <p>
                    When a document is created/ reviewed/ modified/ shared necessary alerts are provided in the application and the respective users are notified through Emails.
                </p>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.blog -->
</div>

<div class="flat-row flat-general sidebar-right pad-bottom20px">
    <div class="container">
        <div class="row">
            <div class="general">
                <h3 class="flat-title-section style mag-top10px">Security and <span>Access Control</span></h3>
                <p>
                    The whole application is role task based, so when a user logs in to the application he can only view the documents for which he/she has access to.
                    Modifying and downloading of documents is also based on access control.
                </p>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.blog -->
</div>

<div class="flat-row flat-general sidebar-right pad-bottom20px">
    <div class="container">
        <div class="row">
            <div class="general">
                <h3 class="flat-title-section style mag-top10px">Reports and <span>Metrics</span></h3>
                <p>
                    Sufficient reports are available in our Aegis Doc based on document logs and user logs.
                </p>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.blog -->
</div>
