@{
    ViewBag.Title = "Aegis Solutions, Kolkata, West Bengal, India| Scanner And Printer On Rent In Kolkata, India| MSME Registered Organization| Office Imaging Solution| Managed Service| High volume document digitization & indexing,record & document management, ICR & OMR processing and Managed Printing Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Slider -->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                <img src="~/Contents/images/slides/1.webp" alt="Are you wasting time? Looking for a document?" />
                <div class="tp-caption sfl title-slide center" data-x="40" data-y="100" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                    Are you wasting time<br />
                    looking for a document???
                </div>
            </li>
            <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                <img src="~/Contents/images/slides/2.webp" alt="You want your document on your fingertips!" />
                <div class="tp-caption sfl title-slide center" data-x="40" data-y="100" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                    You want your document<br />
                    on your fingertips!!!
                </div>
            </li>
            <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                <img src="~/Contents/images/slides/3.webp" alt="Is your printer-copier making you sick?" />
                <div class="tp-caption sfl title-slide center" data-x="40" data-y="100" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                    Is your printer-copier<br />
                    making you sick???
                </div>
            </li>
            <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                <img src="~/Contents/images/slides/4.webp" alt="You want peace of your mind!" />
                <div class="tp-caption sfl title-slide center" data-x="40" data-y="100" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                    You want peace of
                    <br />
                    your mind!!!
                </div>
            </li>
            <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                <img src="~/Contents/images/slides/5.webp" alt="Do what you do, best outsource the rest." />
                <div class="tp-caption sfl title-slide center" data-x="40" data-y="100" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                    Do what you do<br />
                    best outsource the rest...
                </div>
            </li>
            <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                <img src="~/Contents/images/slides/6.webp" alt="Aegis Solutions" />
                <div class="tp-caption sfl title-slide center" data-x="40" data-y="100" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                    Aegis Solutions<br />
                    357/2B, Prince Anwar Shah Road, West Bengal, India<br />
                    Ph:+91 8335810009, E-mail:info@aegissolutions.in
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="my-modal">
    @{
        string popupImage = Html.Encode(string.Concat("/Contents/images/landing/", new System.Configuration.AppSettingsReader().GetValue("popupImageName", typeof(string))));
        <a href="/all-canon-products"><img src="@popupImage" style="width:100%" /></a>
    }
</div>
<!-- Promobox -->
<div class="flat-row bg-scheme pad-top0px pad-bottom0px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="promobox style1 style2 clearfix">
                    <h5 class="promobox-title">A MSME REGISTERED ORGANIZATION</h5>
                    <a class="button black sm" href="@Url.Action("contact-us", "Home")">contact us<i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.flat-row -->
<!-- Flat imagebox -->
<div class="flat-row parallax-style parallax1">
    <div class="overlay bg-scheme1"></div>
    <div class="container">
        <div class="row">
            <div class="flat-wrapper">
                <div class="flat-imagebox clearfix">
                    <div class="flat-item item-three-column">
                        <div class="imagebox">
                            <div class="box-wrapper">
                                <div class="box-image">
                                    <img src="~/Contents/images/imagebox/1.webp" alt="For Rent.">
                                </div>
                                <div class="box-header">
                                    <h5 class="box-title">
                                        <a href="#">For Rent...</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <!-- /.imagebox -->
                    </div>
                    <!-- /.item-three-column -->

                    <div class="flat-item item-three-column">
                        <div class="imagebox">
                            <div class="box-wrapper">
                                <div class="box-image">
                                    <img src="~/Contents/images/imagebox/2.webp" alt="Go Paperless.">
                                </div>
                                <div class="box-header">
                                    <h5 class="box-title">
                                        <a href="#">Go Paperless...</a>
                                    </h5>
                                </div>

                            </div>
                        </div>
                        <!-- /.imagebox -->
                    </div>
                    <!-- /.item-three-column -->

                    <div class="flat-item item-three-column">
                        <div class="imagebox">
                            <div class="box-wrapper">
                                <div class="box-image">
                                    <img src="~/Contents/images/imagebox/3.webp" alt="Save 30 percent with Managed Print Services">
                                </div>
                                <div class="box-header">
                                    <h5 class="box-title">
                                        <a href="#">Save 30% with Managed Print Services</a>
                                    </h5>
                                </div>

                            </div>
                        </div>
                        <!-- /.imagebox -->
                    </div>
                    <!-- /.item-three-column -->
                </div>
                <!-- /.flat-imagebox -->
            </div>
            <!-- /.flat-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.flat-row -->
<!-- Promobox -->
<div class="flat-row bg-scheme pad-top0px pad-bottom0px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="promobox style1 style2 clearfix">
                    <h5 class="promobox-title">OUR CLIENTS</h5>
                </div>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.flat-row -->
<!-- Flat imagebox -->
<div class="flat-row parallax-style parallax1">
    <div class="overlay bg-scheme1"></div>
    <div class="container">
        <div class="row">
            <div class="flat-wrapper">
                <div class="flat-imagebox clearfix">
                    <div class="flat-item item-one-column">
                        <div class="imagebox">
                            <div class="box-wrapper">
                                <div class="box-image">
                                    <img src="~/Contents/images/imagebox/client.webp" alt="OUR CLIENTS">
                                </div>

                            </div>
                        </div>
                        <!-- /.imagebox -->
                    </div>
                    <!-- /.item-three-column -->
                </div>
                <!-- /.flat-imagebox -->
            </div>
            <!-- /.flat-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.flat-row -->

<div class="flat-row pad-bottom70px bg-f2f4f8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="flat-title-section style w90 mag-bottom0px"><span class="scheme">Clients' credential</span></h2>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="flat-divider d48px"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="flat-testimonial-owl">
                    <div class="flat-testimonial">
                        <a href="#">
                            <div class="testimonial-content">
                                <img src="~/Contents/images/client/ck_birla.webp" alt="CK Birla Credential" />
                                <blockquote>
                                    M/s. Aegis Solutions have provided printing services at CMRI & BMB (CK BIRLA HOSPITALS) for the past 3 years (2013- 14, 2014-15, 2015-16).
                                    <br />
                                    Thank you!
                                    <br />
                                    <br />
                                </blockquote>
                            </div>
                        </a>
                    </div>
                    <!-- /.testimonial -->
                    <div class="flat-testimonial">
                        <a href="#">
                            <div class="testimonial-content">
                                <img src="~/Contents/images/client/india_power.webp" alt="India Power Credential" />
                                <blockquote>
                                    We are glad to inform you that M/s. Aegis Solution provided a very commandable support on our printing solution includes Printing, Scanning, Coping and other IT outsource solutions.
                                    <br />
                                    <br />
                                </blockquote>
                            </div>
                        </a>
                    </div>
                    <!-- /.testimonial -->
                    <div class="flat-testimonial">
                        <a href="#">
                            <div class="testimonial-content">
                                <img src="~/Contents/images/client/wbhusc.webp" alt="WBHUSC Credential" />
                                <blockquote>
                                    Certified that M/s Aegis Solutions are being engaged time to time for undertaking strictly confidential printing work in the West Bengal University of Health Sciences.
                                    <br />
                                    <br />
                                </blockquote>
                            </div>
                        </a>
                    </div>
                    <!-- /.testimonial -->
                    <div class="flat-testimonial">
                        <a href="~/Contents/credential/SAIL_Credential.pdf">
                            <div class="testimonial-content">
                                <img src="~/Contents/images/client/SAIL_logo.webp" alt="SAIL Credential" />
                                <blockquote>
                                    This is to certify that we are working with M/s Aegis Solutions of 357128, Prince Anwar Shah Road,
                                    Kolkata - 700 068 as our IT-ITes technology partner in Printing, Scanning, Copying Solutions.
                                </blockquote>
                            </div>
                        </a>
                    </div>
                    <!-- /.testimonial -->
                </div>
                <!-- /.flat-testimonial -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.flat-row -->
<!-- Promobox -->
@*<div class="flat-row bg-scheme pad-top20px pad-bottom20px">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="clients-image style">
                        <div class="item-img">
                            <img src="~/Contents/images/client/c1.png" alt="images">
                        </div>
                        <p class="tooltip">Laurentides</p>
                    </div>
                </div>
                <!-- /.col-md-2 -->

                <div class="col-md-2">
                    <div class="clients-image style">
                        <div class="item-img">
                            <img src="~/Contents/images/client/c2.png" alt="images">
                        </div>
                        <p class="tooltip">Veolia</p>
                    </div>
                </div>
                <!-- /.col-md-2 -->

                <div class="col-md-2">
                    <div class="clients-image style">
                        <div class="item-img">
                            <img src="~/Contents/images/client/c3.png" alt="images">
                        </div>
                        <p class="tooltip">Plane Business</p>
                    </div>
                </div>
                <!-- /.col-md-2 -->

                <div class="col-md-2">
                    <div class="clients-image style">
                        <div class="item-img">
                            <img src="~/Contents/images/client/c4.png" alt="images">
                        </div>
                        <p class="tooltip">Arrow GLS</p>
                    </div>
                </div>
                <!-- /.col-md-2 -->

                <div class="col-md-2">
                    <div class="clients-image style">
                        <div class="item-img">
                            <img src="~/Contents/images/client/c5.png" alt="images">
                        </div>
                        <p class="tooltip">MWR Transport</p>
                    </div>
                </div>
                <!-- /.col-md-2 -->

                <div class="col-md-2">
                    <div class="clients-image style">
                        <div class="item-img">
                            <img src="~/Contents/images/client/c6.png" alt="images">
                        </div>
                        <p class="tooltip">Bradbell</p>
                    </div>
                </div>
                <!-- /.col-md-2 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>*@
<!-- /.flat-row -->
