@{
    ViewBag.Title = "Manage Print Solutions: Aegis Solutions, Kolkata, West Bengal, India| Scanner And Printer On Rent In Kolkata, India| MSME Registered Organization| Office Imaging Solution| Managed Service| Copier, Printer on rent solutions| Procurement of printers, copiers, scanners and multi-function printers (MFP)| Remote Management Centre| Reduce Cost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page title -->
<div class="page-title parallax-style parallax1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    @*<h2>Copier, Printer on rent solutions</h2>*@
                </div>
                <!-- /.page-title-heading -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-title -->

<div class="page-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="flat-wrapper">
                <div class="breadcrumbs">
                    <h2 class="trail-browse">You are here:</h2>
                    <ul class="trail-items">
                        <li class="trail-item"><a href='@Url.Action("Index", "Home")'>Home</a></li>
                        <li>Copier, Printer on rent solutions</li>
                    </ul>
                </div>
                <!-- /.breadcrumbs -->
            </div>
            <!-- /.flat-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-breadcrumbs -->

<div class="flat-row flat-general sidebar-right pad-bottom75px">
    <div class="container">
        <div class="row">
            <div class="general">
                <h3 class="flat-title-section style mag-top10px">Copier, Printer <span>on rent solutions</span></h3>
                <p>
                    Aegis Solutions provides MFD on rent services is an outsourcing service which covers the procurement of printers, copiers, scanners 
                    and multi-function printers (MFP), the supply of print consumables, the setting up of print policies and the integration with other platforms. 
                    Our MPS offers services from assessing, implementing and managing your optimized infrastructure to improving your workflow. It frees you up from 
                    managing your print and allows you to focus on your core business, it reduces your printing costs by up to 30%., it promotes ‘Go-Green’ with reduction 
                    in paper consumption and energy utilization and it allows you to utilize your OPEX rather than CAPEX.

                    Our Remote Management Centre (RMC) will proactively monitor and address issues before they become problems and the RMC will require less 
                    human intervention to solve technical and supplies shortage issues.
                </p>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.blog -->
</div>

