@{
    ViewBag.Title = "Aegis Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page title -->
<div class="page-title parallax-style parallax1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    @*<h2>About us</h2>*@
                </div>
                <!-- /.page-title-heading -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-title -->

<div class="page-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="flat-wrapper">
                <div class="breadcrumbs">
                    <h2 class="trail-browse">You are here:</h2>
                    <ul class="trail-items">
                        <li class="trail-item"><a href='@Url.Action("Index", "Home")'>Home</a></li>
                        <li>Aegis Solutions Privacy Policy</li>
                    </ul>
                </div>
                <!-- /.breadcrumbs -->
            </div>
            <!-- /.flat-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-breadcrumbs -->

<div class="flat-row flat-general sidebar-right pad-bottom75px">
    <div class="container">
        <div class="row">
            <div class="general">
                <h3 class="flat-title-section style mag-top10px">Aegis' <span>Privacy Policy</span></h3>
                <p>
                    <b>Aegis Solutions</b> (the “Company”), has created this privacy policy for <a target="_blank" href="https://www.aegissolutions.in">www.aegissolutions.in</a> (the “Site”) in order to demonstrate its firm comment to privacy.
                    (“We” or “Us”, as used in this Privacy Policy, may include the <b>Aegis Solutions</b> family of companies, and websites within the <b>Aegis Solutions</b> family of companies.)
                    The following discloses Company’s information gathering and dissemination practices for the information collected through this Site. We encourage you to read this Policy before using this Site.
                    Your use of this Site signifies that you agree with all terms of this Policy, so please do not use this Site if you disagree with any part of this Policy.
                </p>
                <p><b>PRIVACY STATEMENT</b></p>
                <p><b>I. Company’s Collection and Use of Information</b></p>
                <p><b>A. Personally Identifiable Information</b></p>
                <p>
                    We will collect personally identifiable information about you, such as your name, postal address, telephone number, e-mail address, when you provide it to us while on this Site.
                    You may provide personally identifiable information when you create an account, enter a sweepstakes on this Site or on a third party site, sign up for email communications, participate in a survey,
                    contact customer service, engage in a promotion online or otherwise interact with this Site. Your personally identifiable information may be used by us for all legal purposes, which may include, but are not limited to,
                    responding to your requests, processing your transactions, for administrative purposes such as conducting contests, tracking which parts of the Site are of interest to you, and processing prizes. If you choose to opt -in,
                    you may receive certain future information or communications from the Company, and we may share your personally identifiable information with the Company™s subsidiaries or affiliated entities (Affiliated Entities) for
                    purposes of sending you information about the programs of Company or its Affiliated Entities and, occasionally, sending you advertising/promotional material from some of their advertising and strategic partners.
                    We may also use your personally identifiable information for internal business purposes, such as optimizing Site experiences and analyzing and managing our businesses.
                </p>
                <p><b>Note Regarding Use of this Site by Children</b></p>
                <p>We request that children do not provide personally identifiable information through the Site.</p>
                <p><b>B. Demographic Information</b></p>
                <p>
                    We may also collect demographic data, such as your gender and postcode, when you provide this information to us.
                    Demographic data may be used to tailor your experience at this Site, such as showing you content including special events and advertising that you might be interested in,
                    and displaying the content according to your postcode.
                </p>
                <p><b>C. Passive Collection of Non -Personal Information</b></p>
                <p>
                    This Site often requires the use of encrypted or non-encrypted cookies.
                    Cookies are data that a web server transfers to an individual™s computer for record keeping purposes.
                    Cookies are an industry standard used by most websites and help facilitate users™ ongoing access to and use of a particular website,
                    for example by providing information used to deliver content specific to your interests and for other purposes,
                    such as security and other amount administrative functions, and which may track personal identifying information.
                </p>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.blog -->
</div>
