@{
    ViewBag.Title = "Scanning & Digitization Services: Aegis Solutions, Kolkata, West Bengal, India| MSME Registered Organization| Office Imaging Solution| Managed Service| High Quality, High Volume, High Speed, Low Cost| Scan at up to 1800 pages per hour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page title -->
<div class="page-title parallax-style parallax1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    @*<h2>Scanning & Digitization services</h2>*@
                </div>
                <!-- /.page-title-heading -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-title -->

<div class="page-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="flat-wrapper">
                <div class="breadcrumbs">
                    <h2 class="trail-browse">You are here:</h2>
                    <ul class="trail-items">
                        <li class="trail-item"><a href='@Url.Action("Index", "Home")'>Home</a></li>
                        <li>Scanning & Digitization services</li>
                    </ul>
                </div>
                <!-- /.breadcrumbs -->
            </div>
            <!-- /.flat-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-breadcrumbs -->

<div class="flat-row flat-general sidebar-right pad-bottom75px">
    <div class="container">
        <div class="row">
            <div class="general">
                <h3 class="flat-title-section style mag-top10px">Scanning & Digitization <span>services</span></h3>
                <p>
                    In present times, digitization is a huge money spinner as most of the corporate houses at some point of time require digitization of 
                    their records and archives that has been building up for years. They outsource their work to us and we ensure high-quality, high-volume 
                    scanning of their work. Aegis Solutions provides high speed scanners can scan at up to 1800 pages per hour due to the addition of the components that automatically 
                    turn pages hence cutting down on manual labour and the time lag caused by the person working on the machine. Talk about high speed! Some of our 
                    machines are even used for fragile materials such as books or documents that are quite old and cannot bear the harshness of human touch. Believe it or not, 
                    but these machines are gentle with them than any human ever could be. Digitization & scanning services these days charge for their time used, 
                    plus extra charge for the materials used. Proper organization, cataloguing will help the service provider you engaged to complete the assigned task 
                    as soon as possible, thus costing you less. We try to provide you with faster results within lesser cost.
                </p>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.blog -->
</div>
